$lightgrey: #c8c8c8;
$text-color: #4a4a4a;
$facebook-color: #465e97;
$facebook-hover: #2d4c96;
$google-color: #4385f5;
$google-hover: #1365f1;

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #2e373e, #20252b);
  font-family: "Ubuntu", sans-serif;
}

html {
  // 1rem = 16px
  @media only screen and (max-width: 62.5em) {
    font-size: 81.25%; // 1rem = 13px
  }
  @media only screen and (max-width: 50em) {
    font-size: 62.5%; // 1rem = 10px
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .container {
    @media only screen and (max-width: 34.375em) {
      padding: 1.5rem;
    }
  }
  &__welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 3.5rem;
      margin-bottom: 0;
      color: white;
      @media only screen and (max-width: 40.625em) {
        font-size: 3rem;
      }
      span {
        padding-bottom: 0.4rem;
        border-bottom: 4px solid orange;
      }
    }
    p {
      color: white;
      margin-top: 0.5rem;
      font-size: 1.2rem;
      @media only screen and (max-width: 34.375em) {
        margin-top: 1.5rem;
      }
      span {
        color: orange;
      }
    }
  }
  &__register {
    align-self: flex-start;
    button {
      background: none;
      border: 1px solid orange;
      color: white;
      padding: 1rem 1.5rem;
      cursor: pointer;
      font-weight: 700;
      font-size: 1rem;
      transition: all 0.3s ease-in-out;
      outline: none;
      &:hover {
        background: orange;
        color: white;
      }
    }
  }
}

.getstarted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .container {
    background-color: white;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    &__register {
      display: flex;
      @media only screen and (max-width: 60em) {
        flex-direction: column;
      }
    }
  }
  h1 {
    color: $text-color;
    align-self: center;
  }
  &__social {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    &--facebook,
    &--google {
      margin: 0.7rem 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      button {
        outline: none;
        cursor: pointer;
        min-width: 60%;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-radius: 0.3125rem;
        color: white;
        font-family: "Roboto", sans-serif;
        @media only screen and (min-width: 60em) and (max-width: 75em) {
          min-width: 80%;
        }
        p {
          margin: 0;
          font-size: 1rem;
        }
      }
    }
    &--facebook {
      button {
        background: $facebook-color;
        border: 1px solid $facebook-color;
        transition: all 0.1s ease-in-out;
        i {
          font-size: 2.5rem;
          margin: 0.2rem 0;
          margin-right: auto;
        }
        &:hover {
          background: $facebook-hover;
          border: 1px solid $facebook-hover;
        }
      }
    }
    &--google {
      button {
        background: $google-color;
        border: 1px solid $google-color;
        transition: all 0.1s ease-in-out;
        img {
          width: 2.2rem;
          height: 2.2rem;
          margin: 0.2rem 0;
          margin-right: auto;
          border: 1px solid white;
          border-radius: 0.2125rem;
        }
        &:hover {
          background-color: $google-hover;
          border: 1px solid $google-hover;
        }
      }
    }
  }
  &__local {
    height: 100%;
    border-left: 1px solid $text-color;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 60em) {
      border: none;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    @media only screen and (max-width: 38.125em) {
      flex-direction: column;
      padding: 0;
      width: 100%;
    }
  }
  &__welcome {
    margin-right: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 38.125em) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
    h2 {
      font-size: 2.5rem;
      color: white;
      margin-bottom: 0.5rem;
    }
    p {
      @media only screen and (max-width: 50em) {
        font-size: 1.3rem;
      }
    }
    &--time {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        color: white;
        margin: 0.2rem;
        font-weight: 100;
        font-family: "Lato", sans-serif;
      }
    }
  }
  &__todo {
    background-color: #35424b;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
}

.form {
  width: 100%;
  form {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__input {
    background-color: #42535d;
    outline: none;
    border: 1px solid #42535d;
    padding: 0.3rem 0.6rem;
    padding-left: 0.8rem;
    border-radius: 15px;
    margin-right: 1rem;
    width: 80%;
    box-shadow: 0 0 0.2rem #151a1e;
    &::placeholder {
      color: #596f7e;
    }
  }
  &__button {
    background: none;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
}

.list {
  &__created,
  &__completed {
    display: flex;
    flex-direction: column;
    h3 {
      color: white;
      font-weight: 300;
      border-bottom: 1px solid #41505b;
      padding-bottom: 1rem;
      margin-bottom: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &--item {
      padding: 0.3rem 0.9rem;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      background: #596f7e;
      margin: 0.5rem 0;
      border-radius: 1rem;
      h4 {
        margin: 0;
        margin-right: auto;
        color: $lightgrey;
        font-family: "Lato", sans-serif;
      }
      &_edit {
        color: white;
        font-size: 1.3rem;
        font-weight: 100;
        margin-right: 1rem;
        cursor: pointer;
      }
      &_delete {
        color: $lightgrey;
        font-size: 1.3rem;
        cursor: pointer;
      }
      .radio_input {
        display: none;
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"] + label {
        display: flex;
        align-items: center;
      }

      input[type="radio"] + label span {
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        margin-right: 1rem;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid white;
      }

      input[type="radio"]:checked + label span {
        background: white;
        border-radius: 50%;
      }
    }
  }
}
