body {
  margin: 0;
  padding: 0;
  background: #20252b;
  font-family: "Ubuntu", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__container {
    border: 1px solid white;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  &__welcome {
    margin-right: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 2.5rem;
      color: white;
      margin-bottom: 0.5rem;
    }
    &--time {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        color: white;
        margin: 0.2rem;
        font-weight: 100;
        font-family: "Lato", sans-serif;
      }
    }
  }
  &__todo {
    background-color: #35424b;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
}

.form {
  width: 100%;
  form {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__input {
    background-color: #42535d;
    outline: none;
    border: 1px solid #42535d;
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
    margin-right: 1rem;
    width: 80%;
    box-shadow: 0 0 0.2rem #151a1e;
    &::placeholder {
      color: #596f7e;
    }
  }
  &__button {
    background: none;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
}
